.booking-container{
    //border: 1px solid green;
    
    .doctor-infor{
        border: 1px solid red;
        height: 200px;
        .dotor-detail{
            display: flex;
            height: 120px;
            .content-left {
                height: 100px;
                flex: 20%;
                //border: 1px black solid;
                display: flex;
                justify-content: center;
                padding-top: 5px;
          
                .doctor-img {
                  width: 100px;
                  border-radius: 100px;
                  height: 100px;
                }
              }
          
              .content-right {
                height: 100px;
                flex: 80%;
                //border: 1px blue solid;
              }

        }
        .appointment-info{

        }

        .doctor-price{

        }


    }
}