.doctor-detail-container {
  height: 2000px;
  padding-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  

  .intro-doctor {
    height: 250px;
    //border: 1px red solid;
    display: flex;

    .content-left {
      height: 200px;
      flex: 20%;
      //border: 1px black solid;
      display: flex;
      justify-content: center;
      padding-top: 5px;

      .doctor-img {
        width: 100px;
        border-radius: 100px;
        height: 100px;
      }
    }

    .content-right {
      height: 200px;
      flex: 80%;
      //border: 1px blue solid;
    }
  }

  // .schedule-doctor {
  //   height: 100px;
  //   border: 1px solid black;
  //   margin-bottom: 10px;
  //   height: 300px;

  //   .select_date-container {
  //     display: flex;
  //     gap: 20px;

  //     .select-date-label {
  //       margin-right: 10px;
  //     }

  //     .display-selected-date {
  //       font-size: 30px;
  //     }

  //   }

  //   .lable-available-appointment{
  //     margin-top: 10px;
  //     margin-bottom: 10px;
  //     font-size: large;
  //   }

  //   .select_time-container {

  //     display: flex;
      
  //     margin-top: 20px;
      

  //     .select-time-container-left {
  //       flex: 60%;
  //       height: 170px;
  //       display: flex;
  //       gap: 20px;
        
  //       border: 1px blue solid;
        

        

  //       .time-button {
  //         cursor: pointer;
  //         border-radius: 10px;




  //       }

  //       .selected {
  //         background-color: blue;
  //         /* Example: Change background when selected */
  //         color: white;

  //       }

  //     }

  //     .select-time-container-right {
  //       flex: 40%;
  //       border: 1px red solid;
  //       padding-left: 10px;
        
  //       .price-detail-container{
          
          
  //         .highlightable {
  //           color: rgb(79, 79, 212); /* Highlight color */
  //           cursor: pointer; /* Change cursor to a pointer */
  //           float: right;
  //         }
          
  //         .highlightable:active {
  //             color: orange; /* Change color when clicked */
  //         }
  //       }
  //     }



  //   }
  // }
  .appointment-extraDoctorInfor{
    display: flex;
    .left-content{
      flex: 60%;
    }

    .right-content{
      flex: 40%;
    }

  }




  .detail-infor {
    
    background-color: #ddd;
    padding-left: 5px;
    padding-top: 10px;
    //margin-top: 50px;
    //border: 1px blue solid;

    img {
      width: 400px;
    }

  }

}