.extra_doctor-infor{
    //border: 1px green solid;
    height: 300px;

    .see-more-label{
        color: brown;
        cursor: pointer;
    }
    .see-more-label:hover{
        color: blue;
    }
    
}